/* Styling for content on individual sample page */

* {
  /* Includes padding and borders in an element's total height and width */
  box-sizing: border-box;
}

/* Main content of page takes up 90% of the page, centered, margins auto filled */
.obj-container {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}

.heading {
  color: black;
  text-align: left;
  padding-bottom: 10px;
}

/* Image takes up half of the width of obj-container */
picture .mainimage {
  float: left;
  width: 50%;
  padding-right: 10px;
  border-radius: 5px;
}

/* Image takes up half of the width of obj-container */
img .mainimage {
  float: left;
  width: 50%;
  padding-right: 10px;
  border-radius: 5px;
}

.obj-info {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewbtn {
  background-color: #1f879c;
  color: white;
  padding: 16px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 20%;
  font-size: 100%;
}

/* Button goes darker in colour when cursor hovers over */
.reviewbtn:hover {
  background-color: #155d6b;
}

/* Main heading of page */
h2 {
  padding-bottom: 20px;
}

/* Reviews take up the entire width of the container */ 
.reviews {
  width: 100%;
  float: left;
}

.review {
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.starrating {
  font-weight: bold;
  padding-bottom: 20px;
}

/* Colors the star images orange */
.checked {
  color: orange;
}

/* Used as a visually divider to put space between sections */ 
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Map container takes up 50% of the section */
.maplocation {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

/* Map image takes up 100% of the .maplocation */
.maplocation img {
  width: 100%;
  border: 3px solid gray;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 0;
}

/* Video container takes up half of the width of the section, placed beside map container */
.video {
  width:50%;
  float: left;
  padding: 70px;
}

.video video {
  width: 100%;
}

/* When screen is small, elements are expanded to 100% width and stacked on top of each other */
@media screen and (max-width: 700px) {
  .heading {
    text-align: center;
    width: 100%;
  }
  .obj-container {
    width: 95%;
  }

  /* Header is centered */
  .obj-container h2 {
    text-align: center;
  }

  /* Image expanded to 100% of the obj-container space */
  picture .mainimage {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    width: 100%;
  }

  img .mainimage {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    width: 100%;
  }

  /* Button expanded to 100% of the obj-container space */
  .reviewbtn {
    width: 100%;
    padding: 20px 20px;
  }

  /* Expanded to 100% of the obj-container space */
  .maplocation {
    width: 100%;
  }

  /* Expanded to 100% of the obj-container space */
  .maplocation img {
    width: 100%; 
  }

  /* Expanded to 100% of the obj-container space */
  .video {
    width: 100%;
    margin: 0;
    padding: 20px 0px 20px 0px;

  }
  /* Expanded to 100% of the obj-container space */
  .video video {
    margin: 0;
    width: 100%;
  }
}
