/* Styling for content on individual sample page */

* {
  /* Includes padding and borders in an element's total height and width */
  box-sizing: border-box;
}

/* Main content of page takes up 90% of the page, centered, margins auto filled */
.obj-container {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}

.heading {
  color: black;
  text-align: left;
}

.image-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* Image takes up 100% of the width of image-container */
picture .mainimage {
  width: 100%;
  border-radius: 5px;
}

/* Image takes up 100% of the width of image-container */
img .mainimage {
  width: 100%;
  border-radius: 5px;
}

.obj-info {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reviewsLink {
  text-decoration: none;
}

#reviewsLink:hover {
  text-decoration: underline;
}

#reviewbtn {
  background-color: #1f879c;
  color: white;
  padding: 16px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 20%;
  font-size: 100%;
}

/* Button goes darker in colour when cursor hovers over */
#reviewbtn:hover {
  background-color: #155d6b;
}

/* Styling when the review modal is opened */
#reviewModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Style the modal popup */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add animation to modal */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The close button on the modal */
#modal-close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 15px;
}

select {
  padding: 8px;
  margin-bottom: 15px;
}

/* Text area of modal */
textarea {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: 20vh;
}

/* Submit button on modal */
#modal-submit {
  background-color: #1f879c;
  color: white;
  padding: 10px 15px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 40%;
}

/* Button goes darker in colour when cursor hovers over */
#modal-submit:hover {
  background-color: #155d6b;
}

/* Secondary heading of page */
h2 {
  padding-bottom: 20px;
}

/* Reviews take up the entire width of the container */ 
#reviewSection {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.review {
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.starrating {
  font-weight: bold;
  padding-bottom: 20px;
}

/* Colors the star images orange */
.checked {
  color: orange;
}

/* Used as a visually divider to put space between sections */ 
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.maplocation {
  float: left;
  width: 100%;
}

/* Map section takes up 50% of width */
.obj-map {
  float: left;
  width: 50%;
}

#map {
  width: 100%;
  height: 300px;
  z-index: 0; /* Ensures map isn't in front of the mobile menu */
}

.obj-map p {
  padding: 10px 0;
  font-weight: bold;
}

/* Video container takes up half of the width of the section, placed beside map container */
.video {
  width:50%;
  float: left;
  padding-left: 30px;
}

.video video {
  width: 100%;
  height: 300px;
}

/* When screen is small, elements are expanded to 100% width and stacked on top of each other */
@media screen and (max-width: 700px) {
  .heading {
    text-align: center;
    width: 100%;
  }
  .obj-container {
    width: 95%;
  }

  /* Headings are centered */
  .obj-container h2 {
    text-align: center;
  }

  .image-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Image expanded to 100% of the obj-container space */
  picture .mainimage {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    border-radius: 5px;
  }

  img .mainimage {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    border-radius: 5px;
  }

  /* Button expanded to 100% of the obj-container space */
  #reviewbtn {
    width: 100%;
    padding: 20px 20px;
  }

  .modal-content {
    width: 90%;
  }

  #modal-submit {
    width: 100%;
    padding: 20px 20px;
    font-size: 120%;
  }

  /* Expanded to 100% of the obj-container space */
  .obj-map {
    width: 100%;
  }

  /* Expanded to 100% of the obj-container space */
  .video {
    width: 100%;
    margin-top: 20px;
    padding: 0;

  }
  /* Expanded to 100% of the obj-container space */
  .video video {
    margin: 0;
    width: 100%;
  }

  #noReviews {
    text-align: center;
  }
}
