/* Styling for content on registration page */
.signup-container {
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.signup-container h2 {
  padding-bottom: 10px;
}

/* removes underline in hyperlink */
.signup-container a {
  text-decoration: none;
}

/* Underlines Log In hyperlink when hovered over to indicate that it is clickable. */
.signup-container a:hover {
  text-decoration: underline;
}

.signup-container form {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Styling for input boxes in the form */
.signup-container input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-container input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*Styling for Sign Up button in form*/
.signup-container input[type=submit] {
  width: 100%;
  background-color: #1f879c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit button gets darker when cursor hovers over it */
.signup-container input[type=submit]:hover {
  background-color: #155d6b;
}

/* Resizes the sign up form container to fill the whole width of the
   screen if the screen is small.
*/
@media screen and (max-width: 700px) {
  .signup-container {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}
