/* Styling for content on results sample page */

/* Includes padding and borders in an element's total height and width */
* {
  box-sizing: border-box;
}

/* Container for main content, centered */
.results-container {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* The list of results, in its own scrollable container */
.tabular-results {
  float: left;
  width: 50%;
  height: 60vh;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px;
}

/* Map takes up the other have of the screen */
.map-results {
  width: 50%;
  float: left;
  padding: 10px;
}

.map-results img {
  border: 4px solid #1f879c;
  border-radius: 5px;
  width: 100%;
}

/* Each individual result, takes up 100% of scrollable container */
.result-card {
  width: 100%;
  background-color: white;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  float: left;
  margin-bottom: 5px;
}

.result-card img {
  width: 30%;
  float: left;
}

.resultinfo {
  font-size: 100%;
  width: 70%;
  float: left;
  padding: 10px;
}

/* Colour star icons that are checked */
.checked {
  color: orange;
}

/* Used to as a visual divider for different sections */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

/* Gets rid of the purple hyperlink colouring, forces it black */
a {
  color: black;
}

/* Tabular results and map are stacked on top of one another when screen is small */
@media screen and (max-width: 700px){
  .results-container {
    width: 100%;
  }

  .tabular-results {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }

  .map-results {
    width: 100%;
    padding: 0;
  }

  /* Centers header */
  h2 {
    text-align: center;
  }
}