/* This stylesheet is used for all the pages, containing styling for common
elements. */

/* 
  Styling for navigation bar is largely taken from:
  https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci
/*

/* Universal selector, default value.*/
* {
  margin: 0;
  padding: 0;
  /* Includes padding and borders in an element's total height and width */
  box-sizing: border-box;
}

/* Website should take up the entire screen */
html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
}

/* Don't add bullets/numbers to list items */
.navbar li {
  list-style: none;
}

/* Prevents links from being underlined */
.navbar a {
  text-decoration: none;
}

/* Adds color to header */
.header {
  background-color: #5F4B8B;
}

/* Website logo */
.header .material-icons.md-36 {
  font-size: 100%;
  padding-right: 20px;
  color: white;
  vertical-align: middle;
}

/* Website title */
.nav-logo {
  color: white;
  font-size: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

/* Style menu items, set transition times */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu a {
  padding: 8px 0;
  color: white;
  position: relative;
  display: inline-block;
}

.nav-menu a:before {
  position: absolute;
  content: "";
  z-index: -2;
  height: 3px;
  left: 0;
  right: 100%;
  bottom: 50%;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  /* Color of lines */
  background-color: #FFC300;
}

.nav-menu a:hover:before {
  right: 0;
}

.nav-menu a:hover:before {
  bottom: 10%;
}

/* The spacing between each nav item*/
.nav-item {
  margin-left: 3rem;
  z-index: 0;
}

/* Don't display hamburger menu if screen isn't small */
.hamburger {
  display: none;
}

/* Styling for hamburger menu image*/
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

main {
  /* assigns any remaining space on the screen to main, 
     this forces the footer to stay on the very bottom of 
     even when the content doesn't fully take up the page (prevents the
     footer from being right under where the content ends)*/
  flex-grow: 1;
}

footer {
  text-align: center;
  background-color: #5F4B8B;
  color: white;
  font-size: 12px;
  padding: 10px;
}

/* Hamburger menu is enable when screen is smaller */
@media screen and (max-width: 750px) {
  .navbar {
    padding: 0.5rem 1.5rem;
  }

  .nav-menu {
    /* Bring it to the front, so it doesn't lay behind the content */
    z-index: 5;
    position: fixed;
    background-color: #5F4B8B;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    /* pushed 100% to left, so not visible*/
    left: -100%;
    top: 3rem;
    flex-direction: column;
    transition: 0.2s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);;
  }

  /* Prevents hover animation on mobile, animation doesn't work well*/
  .nav-menu a:hover:before {
    right: auto;
  }

  .nav-menu a:hover:before {
    bottom: auto;
  }

  /* Since hovering isn't really possible on mobile, 
     the color of the link will change for a second or so when clicked
  */
  .nav-menu a:hover {
    color: #FFC300;
  }

  /* When hamburger menu is clicked, it comes in from the left */
  .nav-menu.active {
    left: 0;
  }

  /* Space out the navigation items*/
  .nav-menu li {
    margin: 10px 0;
  }

  .nav-menu a {
    padding: 15px 0px;
    font-size: 120%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* These 3 things create an animation on the hamburger menu symbol */
  /* Transforms from three bars to an x*/

  /* Hide this bar */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  /* Move and rotate this bar so it is a diagonal line*/
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  /* Move and rotate this bar so it crosses the other diagonal line, creating an x */
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
