/* Styling for Submission page */


/* Includes padding and borders in an element's total height and width */
* {
  box-sizing: border-box;
}

/* Horizontally entered */
.submission-container {
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

/* Horizontally centers header */
h2 {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.submission-container label {
  padding: 12px 12px 12px 0;
}

/* Styling for input boxes in the form */
.submission-container input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submission-container textarea {
  height: 20vh;
}

/*Styling for Submit button in form*/
.submission-container input[type=submit] {
  background-color: #1f879c;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* submit button gets darker when mouse overs over */
.submission-container input[type=submit]:hover {
  background-color: #155d6b;
}

/* Labels and their associated input box are displayed in two separate
   columns next to one another
*/
.col-25 {
  float: left;
  width: 25%;
  margin-top: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 20px;
}

/* clear the floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Resizes the submission form container to fill the whole width of the
   screen if the screen is small. Labels go above input boxes instead of beside.
*/
@media screen and (max-width: 770px) {
  .submission-container {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
}
